{% extends 'base.html'%}
{% block title%} Edit Chapter - Quiz_Master {%endblock%}
{% block content %}

<div class="container-fluid row justify-content-center mt-5">
    <div class="text-center"><h3>Edit Chapter</h3></div>
    
    <form class="col-6" action="{{url_for('edit_chapter', chapter_id=chapter.chap_id)}}" method="POST">
        <div class="mb-3">
            <label for="chap_name" class="form-label">Edit Chapter Name</label>
            <input type="text" class="form-control" id="chap_name" name="chap_name" value="{{chapter.chap_name}}" autocomplete="on">
        </div>
        
        <div class="mb-3">
            <label for="chap_description" class="form-label">Edit Description</label>
            <input type="text" id="chap_description" class="form-control" name="chap_description" value="{{chapter.chap_descr}}">
        </div>
        
        <div class="mb-3">
            <label for="subj_id" class="form-label">Select Subject</label>
            <select class="form-control" id="subj_id" name="subj_id">
                {% for subject in all_subjects %}
                    <option value="{{ subject.subj_id }}" {% if subject.subj_id == chapter.subj_id %}selected{% endif %}>{{ subject.subj_name }}</option>
                {% endfor %}
            </select>
        </div>
        
        <div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>

{% endblock %}