<nav class="navbar navbar-expand-lg bg-light navbar a " >
    <div class="container-fluid" >
      <a class="navbar-brand" href="/">Quiz-Master</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent" >
        <ul class="navbar-nav me-auto mb-2 mb-lg-0" >
          {%if not session.get('user_email',None)%}
            <li class="nav-item" >
              <a class="nav-link active" aria-current="page" href="/login">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/register"> Register</a>
            </li>
          {%else%}
              {% if 'admin' in session.get('user_name', None) %} 
            
              

              {%else%}
              
              {% endif %}
          {% endif %}

            
        </ul>
        <form class="d-flex" role="search" action="{{ url_for('search') }}" method="GET">
          <input class="search-box form-control me-2" type="search" placeholder="Search" aria-label="Search" name="query">
          <button class="search-button btn btn-outline-success" type="submit">Search</button>
        </form>
        <ul class="navbar-nav">
          {% if session.get('user_email', None) %}
          <li class="nav-item ">
            <a class="nav-link active" aria-current="page" href="/logout">Logout</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>